<div class="video-block" ng-init="$ctrl.onInit()">
  <video
    id="{{ $ctrl.videoId }}"
    ng-src="{{ $ctrl.url }}"
    preload="none"
    poster="../../../assets/images/default-thumb.png"
    class="video-block-el" controls>
  </video>
  <div class="video-info">
    <p class="video-name" ng-click="$ctrl.goToVideoDetail()">{{ $ctrl.name }}</p>
    <div class="video-rating-wrapper">
      <span class="rating-label">Rating:</span>
      <input-stars
        allow-half
        readonly
        class="average-rating"
        max="5"
        ng-model="averageRate">
      </input-stars>
    </div>
    <div class="video-description">
      {{ $ctrl.description | truncateDescription }}
      <a href="" ng-click="$ctrl.goToVideoDetail()">Read more</a>
    </div>
  </div>
</div>
