.thumbnail {
  height: 200px;
  
  img.pull-right {
    width: 50px;
  }
}

.video-list {
  width: 100%;
  max-width: 856px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
